@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Prata&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----Color Palette----
335c67 - accent
fff3b0 - lightest
e09f3e - lighter
9e2a2b - mids
540b0e - dark
----Color Palette----*/


/*----Base CSS Begin----*/
* {
	box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {	
	font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
	line-height: 1.7;
}

header {
	margin: 2% 0;
}

nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 2% 0;
}

section {
	margin: 2% 0;
}

footer {
	height: 40vh;	
	background-color: #2e2e2e;
}

h1, h2, h3, h4, h5, h6 {	
	font-family: 'Prata', serif;
	font-weight: 700;
	margin: 0 2%;
	color: #335c67;
}

h1 {
	font-size: 8rem;
	text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
	font-size: 2.5rem;
	margin: 8% 8%;
	color: #fff;
	text-shadow: .2rem .2rem #000;
}

p {
	margin: 2% 2%;
}

a {
	text-decoration: none;
	display: inline-block;	
	color: #fff3b0;
}

span {
	font-weight: 900;
}

/*----Structure----*/
.container {
    max-width: 100%;
    margin: 4% auto;
}

.hero {
	background: url('/assets/recordplayer.jpg');
	height: 30vh;
	background-attachment: fixed;
	background-size: cover;
	margin: 4% 0;	
	box-shadow: inset 20px 20px 40px #101214;
}

.project-flex {
	display: flex;
	flex-flow: row wrap;
}


.project {
	color: #fff;
	height: 40vh;
	flex-grow: 1;
	margin-right: 4%;
	margin-top: 4%;
	margin-left: 1%;
	background: url('https://picsum.photos/400/800');
	background-size: cover;
	background-repeat: no-repeat;
	filter: grayscale(0%);
	box-shadow: inset 5px 5px 40px #101214;
}


.project:hover {
	color: #540b0e;
	transition: 2s;
	flex-grow: 4;
	filter: grayscale(100%);
}

.project_info {
	flex-grow: 2;
	width: 40%;
	margin: 4% 0;
}

.footer-flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

/*----Buttons----*/
.btn {
	font-size: 2.5rem;
	letter-spacing: .2rem;
	border: 1px solid #540b0e;
	width: 15rem;
	padding: .5% 1%;
	color: #9e2a2b;
	background-color: #fff3b0;
	text-align: center;
}

.btn:hover{
	transition: 1s;
	transform: rotateX(180deg);
	background-color: #540b0e;
}

.btn:first-of-type {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.btn:last-of-type {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-btn {
	font-size: 2rem;
	padding: 4%;
}

.projects-btn {
	font-size: 2.5rem;
	width: 24rem;
	padding: 1% 1%;
}



/*----Images/Logos----*/
.LinkedIn {
	width: 9%;
}